body{
	background-color: #F2F2F2;
	font-family: 'Montserrat Alternates', sans-serif;
	overflow-x: hidden;
}
header{
	color: #787878;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 42px;
	background-color: #DEDEDE;
	font-size: 20px;
	z-index: 100;
}
.header__wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo{
	margin: 10px 0px 0px 20px;
}
.menu{
	display: flex;
}
.menu ul{
	margin-right: 10px;
}
.menu__wrapper{
	display: flex;
}
.menu__wrapper li{
	margin-right: 10px;
}
.menu__language{
	margin-right: 10px;
	color: #787878;
}
.main{
}


.section-start-notebook{
	position: sticky;
	top: 0px;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 95%;
	background-color: rgb(242, 242, 242);
}

canvas{
	width: 100%;
	height: 100%;
}
.canvas{
	background-color: grey;
}
.section-start-notebook__backgroungBlock{
	width: 100%;
	height: 1080px;
	background: url("file:///D:/project/html/NoteBook/img/notebook.svg");
	background-repeat: no-repeat;
	z-index: 0;
}


.section-many-notebook{
	position: relative;
	z-index: 3;
	width: 100%;
	height: 1200px;
	background-color: rgb(242, 242, 242);
	color: white;
	padding-top: 60px;
}
.section-many-notebook h1{
	color: black;
	font-size: 50px;
}
.section-many-notebook__red{
	color: red;
}
.section-many-notebook__wrapper{
	display: flex;
	justify-content: center;
	white-space: nowrap;
	animation: marquee 25s infinite linear;
}
.section-many-notebook__wrapper:after{
    content: "";
}
@keyframes marquee{
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(-50%)
    }
}
.section-many-notebook__wrapper_down{
	display: flex;
	justify-content: center;
	white-space: nowrap;
	animation: marquee_down 25s infinite linear;
}
.section-many-notebook__wrapper_down:after{
    content: "";
}
@keyframes marquee_down{
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(50%)
    }
}
.section-many-notebook__body{
	
}
.card{
	margin: 25px;
	width: 400px;
	height: 500px;
	border-radius: 10px 50px 50px 10px;
}
.card__title{
	font-family: 'Inter';
	position: absolute;
	margin-left: 200px;
	margin-top: 125px;
	font-size: 30px;
}
.section-about-notebook{
	position: relative;
	z-index: 4;
	width: 100%;
	height: 1200px;
	background-color: rgb(200, 200, 200);
	color: white;
}
.section-about-notebook__wrapper{
	padding: 20px;
}
.section-about-notebook__title{
	color: black;
	font-size: 100px;
	margin-top: 20px;
}
.info__wrapper{
	display: flex;
	justify-content: space-between;
}
.section-about-notebook__info{
	margin-top: 50px;
	width: 40%;
	height: auto;
	font-size: 25px;
	color: black;
}
.section-about-notebook__icons{
	float: right;
	z-index: 6;
	opacity: 0;
	transition: ease 1s all;
	transform: translateX(800px);
}
.section-about-notebook__icons.eight{
	opacity: .125;
	transform: translateX(700px);
}
.section-about-notebook__icons.seven{
	opacity: .25;
	transform: translateX(600px);
}
.section-about-notebook__icons.six{
	opacity: .375;
	transform: translateX(500px);
}
.section-about-notebook__icons.five{
	opacity: .5;
	transform: translateX(400px);
}
.section-about-notebook__icons.four{
	opacity: .625;
	transform: translateX(300px);
}
.section-about-notebook__icons.three{
	opacity: .75;
	transform: translateX(200px);
}
.section-about-notebook__icons.two{
	opacity: .875;
	transform: translateX(100px);
}
.section-about-notebook__icons.one{
	opacity: 1;
	transform: translateX(0px);
}

.section-buy-notebook{
	position: relative;
	height: 1080px;
	background-color: white;
	width: 100%;
	z-index: 5;
}

.section-buy-notebook__wrapper{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.section-buy-notebook__title{
	width: 50%;
}
.section-buy-notebook__title p{
	font-size: 70px;
	line-height: 150%;
}
.section-buy-notebook__photo{
	display: block;
	position: relative;
	width: 800px;
	height: 800px;
	margin-left: 350px;
}
.img{
	position: absolute;
	width: 200px;
	height: 250px;
}
.section-buy-notebook__photo_button{
	position: absolute;
	top: 0px;
	left: 0px;
	transition: ease 1s all;
}
.section-buy-notebook__photo_brown{
	position: absolute;
	top: 0px;
	left: 0px;
	transition: ease 1s all;
}
.section-buy-notebook__photo_pig{
	position: absolute;
	top: 0px;
	left: 0px;
	transition: ease 1s all;
}
.section-buy-notebook__photo_search{
	position: absolute;
	top: 0px;
	left: 0px;
	transition: ease 1s all;
}
.section-buy-notebook__photo_sintwave{
	position: absolute;
	top: 0px;
	left: 0px;
}
/************************************************/
.search{
	position: absolute;
	top: 190px;
	left: -250px;
	transform: rotateZ(-72deg);
}
.search_one{
	position: absolute;
	top: 47.5px;
	left: -62.5px;
	transform: rotateZ(-18deg);
}
.search_two{
	position: absolute;
	top: 95px;
	left: -125px;
	transform: rotateZ(-36deg);
}
.search_three{
	position: absolute;
	top: 142.5px;
	left: -187.5px;
	transform: rotateZ(-54deg);
}
/************************************************/
.pig{
	position: absolute;
	top: 490px;
	left: -150px;
	transform: rotateZ(-144deg);
}
.pig_one{
	position: absolute;
	top: 122.5px;
	left: -37.5px;
	transform: rotateZ(-36deg);
}
.pig_two{
	position: absolute;
	top: 245px;
	left: -75px;
	transform: rotateZ(-72deg);
}
.pig_three{
	position: absolute;
	top: 367.5px;
	left: -112.5px;
	transform: rotateZ(-108deg);
}
/************************************************/
.brown{
	position: absolute;
	top: 490px;
	left: 160px;
	transform: rotateZ(-216deg);
}
.brown_one{
	position: absolute;
	top: 122.5px;
	left: -40px;
	transform: rotateZ(-54deg);
}
.brown_two{
	position: absolute;
	top: 245px;
	left: -80px;
	transform: rotateZ(-108deg);
}
.brown_three{
	position: absolute;
	top: 367.5px;
	left: -120px;
	transform: rotateZ(-162deg);
}
/************************************************/
.button{
	position: absolute;
	top: 190px;
	left: 250px;
	transform: rotateZ(-288deg);
}
.brown_one{
	position: absolute;
	top: 47.5px;
	left: 62.5px;
	transform: rotateZ(-72deg);
}
.brown_two{
	position: absolute;
	top: 95px;
	left: 125px;
	transform: rotateZ(-144deg);
}
.brown_three{
	position: absolute;
	top: 142.5px;
	left: 187.5px;
	transform: rotateZ(-216deg);
}
/************************************************/
.section-more-notebook{
	width: 100%;
	height: 6500px;
	position: sticky;
	z-index: 6;
	background-color: white;
}
.section-more-notebook__title{
	display: flex;
	height: 1080px;
	font-size: 50px;
}
.section-more-notebook__text{
	position: relative;
	top: 0px;
	left: 600px;
	font-size: 50px;
	width: fit-content;
	opacity: 0;
	transition: ease-in-out 1s all;
}
.text_open_one{
	top: 54px;
	left: 600px;
	opacity: 0.1;
}
.text_open_two{
	top: 108px;
	left: 600px;
	opacity: 0.2;
}
.text_open_three{
	top: 162px;
	left: 600px;
	opacity: 0.3;
}
.text_open_four{
	top: 216px;
	left: 600px;
	opacity: 0.4;
}
.text_open_five{
	top: 270px;
	left: 600px;
	opacity: 0.5;
}
.text_open_six{
	top: 324px;
	left: 600px;
	opacity: 0.6;
}
.text_open_seven{
	top: 378px;
	left: 600px;
	opacity: 0.7;
}
.text_open_eight{
	top: 432px;
	left: 600px;
	opacity: 0.8;
}
.text_open_nine{
	top: 486px;
	left: 600px;
	opacity: 0.9;
}
.text_open{
	top: 540px;
	left: 600px;
	opacity: 1;
}
/***********************************************/
.section-more-notebook__design{
	display: flex;
	height: 1080px;
	justify-content: space-around;

}
.design__text{
}
.design__text p{
	color: #5B8072;
	font-size: 60px;
	font-weight: 800;
}
.design__ribbon{
	margin-top: -30px;
	margin-left: -20px;
	width: 650px;
	height: 40px;
	border-radius: 10px;
	background-color: #ACD1C2;
	transition: ease 1s all;
}

.desing__card{
	width: 100%;
	height: 100%;
}
.design__img{
	transition: ease 1s all;
}